.create {
    position: absolute;
    width: 100%;
    margin-top: 80px;

    .content {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 300px;

        h1 {
            text-align: left;
            margin-bottom: 50px;
            width: 700px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 30px;
        }
        .card {
            background-color: var(--color-surface);
            border: 1px solid var(--color-border);
            width: 700px;
            height: auto;
            padding: 20px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .bg-accented {
                background-color: var(--color-border);
            }

            .group-data-\[state\=completed\]\:bg-primary {
                &:is(:where(.group)[data-state="completed"] *) {
                    background-color: var(--color-primary-500);
                }
            }

            .group-data-\[state\=active\]\:bg-primary {
                &:is(:where(.group)[data-state="inactive"] *) {
                    background-color: var(--color-border);
                }
            }


            .grid {
                width: 100%;
                margin-top: 30px;
                .iconify {
                    color: var(--color-primary-100);
                }
                input,
                button {
                    border: 1px solid var(--color-bg-alt);
                    background-color: var(--color-bg-alt);
                    border-radius: 5px;
                    align-items: center;
                    width: 300px;

                    
                }
            }

            .createbtn {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 30px;

                .submit {
                    color: var(--color-text);
                }
            }


            .deployementsection {
                display: flex;
                align-items: center;
                flex-direction: column;

                p {
                    margin-top: 40px;
                    width: 90%;
                }

                .copysection {
                    margin-top: 20px;
                    width: 90%;
                    height: auto;
                    display: flex;
                    gap: 10px;
                    justify-content: center;
    
                    .command {
                        background-color: var(--color-bg-alt);
                        border-radius: 5px;
                        padding: 5px;
                        overflow: scroll;
                        width: -webkit-fill-available;
                    }

                    .btncpy {
                        background-color: var(--color-bg-alt);
                    }
                }

                .btnclose {
                    color: var(--color-text);
                    margin-top: 30px;
                    width: fit-content;
                }
            }

        }
    }
}