.index {
    width: 100%;
    position: absolute;
    margin-top: 80px;
    background-image: radial-gradient(rgba(255 255 255 / 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    .buttons {
        width: auto;
        .box {
            background-color: var(--color-surface);
            border: 1px solid var(--color-border);
            border-radius: 15px;
            padding: 10px;
            
            .button {
                color: var(--color-text);
            }
        }
    }

    .servers {
        background-color: var(--color-surface);
        border-radius: 15px;

        .header {
            margin-bottom: 0px;
            .button {
                color: var(--color-text);
            }
        }

        .servercard {
            background-color: var(--color-surface);
            border: 1px solid var(--color-border);
            position: relative;
            display: flex;
            align-items: center;

            .infos {
                display: flex;
                align-items: center;

                .status {
                    height: 30px;
                    width: 5px;
                    background-color: rgb(32, 197, 142);
                    margin-right: 10px;
                    border-radius: 5px;
                }

                .iconify {
                    color: var(--color-text);
                }

                .title {
                    margin-left: 10px;
                }
                
                .center {
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    p {
                        margin-left: 10px;
                    }
                }
            }

            .buttons {
                position: absolute;
                height: 100%;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 15px;
                top: 0px;
            }
        }
    }
}