.adminpage {
    position: absolute;
    width: 100%;
    margin-top: 80px;

    .content {
        margin-top: 40px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 350px;

        h1 {
            text-align: left;
            width: 90%;
            margin-bottom: 50px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 30px;
            max-width: 1200px;
        }
    }
}